@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p>

    </p>
    <p>
        <h2>Welcome to HR Project!</h2>
    </p>
    <p>
        <h3>
            This is the Final Project for Course COMP229 - Web Application Development at Centennial College (Summer 2019).
            <br />
            <br />
        </h3>
    </p>
    <p>
        <h4>
            Human Resources Management System
            <br />
            <br />
        </h4>
        <h5>
            A human resources management system (HRMS) or human resources information system (HRIS) is a form of human
            resources (HR) software that combines a number of systems and processes to ensure the easy management of
            human resources, business processes and data. Human resources software is used by businesses to combine a
            number of necessary HR functions, such as storing employee data, managing payrolls, recruitment processes,
            benefits administration, and keeping track of attendance records.
            <br />
            <br />
            Human resource information systems provide a means of acquiring, storing, analyzing and distributing
            information to various stakeholders.[2] HRIS enable improvement in traditional processes and enhance
            strategic decision-making. The wave of technological advancement has revolutionized each and every space
            of life today, and HR in its entirety was not left untouched.
            <br />
        </h5>
        <h6>Font: Wikipedia</h6>
    </p><br />
        <div class="row">
            <div class="col-md-3">
                <div class="card" style="width: 30rem;">
                    <img class="card-img-top" src="~/images/HR-human.jpg" alt="HR" width="200" height="100">
                    <div class="card-body">
                        <h5 class="card-title"><b>What's HR?</b></h5>
                        <p class="card-text">
                            Human resources are the people who <br />
                            make up the workforce of an organization, <br />
                            business sector, or economy.
                        </p>
                        <a href="https://en.wikipedia.org/wiki/Human_resources" class="btn btn-warning">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 30rem;">
                    <img class="card-img-top" src="~/images/Human_Resource.png" alt="HR Management System" width="200" height="100">
                    <div class="card-body">
                        <h5 class="card-title"><b>HR Management System</b></h5>
                        <p class="card-text">
                            A human resources management system <br />
                            is a form of software that combines a <br />
                            number of systems and processes...
                        </p>
                        <a href="https://en.wikipedia.org/wiki/Human_resource_management_system" class="btn btn-warning">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 30rem;">
                    <img class="card-img-top" src="~/images/hr-hinds.jpg" alt="HR Management System" width="200" height="100">
                    <div class="card-body">
                        <h5 class="card-title"><b>Capterra</b></h5>
                        <p class="card-text">
                            Find the best HR Software for your business. <br />
                            Compare product reviews and features, <br />
                            and learn from our HR Software Research.
                        </p>
                        <a href="https://www.capterra.com/human-resource-software/" class="btn btn-warning">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 30rem;">
                    <img class="card-img-top" src="~/images/hrm-hero-1200.png" alt="HR" width="200" height="100">
                    <div class="card-body">
                        <h5 class="card-title"><b>Top HR Softwares</b></h5>
                        <p class="card-text">
                            Top Human Resources (HR) Software - <br />
                            2019 Reviews & Pricing<br />
                            <br />
                        </p>
                        <a href="https://www.softwareadvice.com/ca/hr/" class="btn btn-warning">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
</div>